@font-face {
    font-family: 'gameFont';
    src: url(fonts/pixelmix.ttf);
    
}

:root {
    
    --gray: #1C1C44;
    --red: #211bc9;
    --black: #040404;
    --green: #3C7C9C;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gameFont', sans-serif;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/gameBackground.png);
    gap: 20px;
}



#header {
    padding: 20px 20px 20px 40px;
    font-size: 30px;
    background-color: var(--black);
    color: var(--green);
    width: 100vw;
    display: flex;
    gap: 20px;
   
    
}

.secondRow {
    display: flex;
    justify-content: center;
}
.firstRow {
    display: flex;
    gap: 20px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: var(--black);
    border-radius: 13px;
    border: var(--green) 2px solid;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    gap: 20px;
    
}

#score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    font-size: 30px;
    color: var(--green);
    background-color: var(--black);
    border-radius: 13px;
    gap: 16px;
    border: var(--green) 2px solid;
}

#computerSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding: 40px;
    color: var(--red);
    font-size: 30px;
    border: var(--red) 2px solid;
    border-radius: 13px;
    min-width: 600px;
}

#footer{
background-color: var(--black);
width: 100vw;
margin-top: auto;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
border-top: var(--green) 2px solid;
}

.choices {
    background-color: var(--black);
    font-size: 36px;
    padding: 14px 28px;
    border-radius: 13px;
    border: var(--gray) 2px solid;
    color: var(--green);
}

.transformButton {
    transform: scale(1.1);
    transition: 0.2s;
}

#hiUser {
    margin-left: auto;
    margin-right: 20px;
}

.hidden {
    display: none;
}

.greyBorder {
    border: var(--gray) 2px solid;
    padding: 12px 18px;
    border-radius: 13px;
}

#resetScore {
    background-color: var(--black);
    font-size: 30px;
    padding: 14px 40px;
    border-radius: 13px;
    border: var(--gray) 2px solid;
    color: var(--green);
}

#endGame {
    font-size: 120px;
    text-align: center;
}

.win{
    color: rgb(113, 230, 84);
}
.lose{
    color: rgb(134, 33, 15);
}